body{
    margin-left: 15%;
    margin-right: 15%;
}
.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    text-decoration: underline;
    color: #070F18;
    margin-top: 40px;
    margin-bottom: 40px;
}

#menu{
    text-align: right;
    margin-top: 49px;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
    margin-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    color: #070F18;   
}

a{
    color: #070F18;
    text-decoration: none;
}


#buttonCta{
    background: #1F7CFF;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    text-align: center;
    color:azure;
    padding: 10px 25px 10px 25px;
}

p.gray{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;

    color: #575455;
}
#headerCta h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 45px;

    color: #000000;
}

#headerImg{
    margin-left: 42px;
}

#headerImg img{
    width: 100%;
}

.headerLogo{
    text-align: center;
}

#clients{
    margin-top: 50px;
    margin-bottom: 50px;
}

#headerClientText{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;

    color: #070F18;
}

h2.red{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: #F75C4E;
}

h1.black{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

    margin-top: 0;
    color: #000000;
}

.textCenter{
    text-align: center;
}

#services .textCenter h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #070F18;
}

#contactImg img{
    width: 100%;
}

#contactForm{
    margin-left: 75px;
}

#contact{
    margin-top: 100px;
}

#contactForm input{
    background-color: #F5F6FB;
    border-radius: 50px;
    color: #575455;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    border: 0;
    height: 70%;
    width: 70%;
    padding: 15px 30px 15px 30px;
}

#contactForm button{
    background-color: #1F7CFF;
    color: snow;
    cursor: pointer;
    border: 0;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
}

#titulo-portifolio{
    margin-top: 150px;
}

.portifolioImg img{
    width: 100%;
}

.portifolioImg{
    padding: 30px;
}
